<%include ../partials/header%>
<h3><%= entry.item %></h3>
<div>
    <form action="/registry/<%=entry._id%>?_method=PUT" method="post">
        <% if(entry.claimed) { %> 
            <p>                    
                this item was claimed already, if you claimed it, you can 
                unclaim it by clicking here:
            </p>
        <% } else { %>
            <div>
                <%= entry.claims.length %> out of <%= entry.quantity %> claimed
            </div>
            <div>
                <label>claimed by: (only visible to Xenia and Ben for thank-you 
                    notes)</label>
                <input type="text" name="entry[from]" required>
            </div>
            <div>
                <label>your email address for the confirmation</label>
                <input type="text" name="emailAddress" required>
            </div>
        <% } %>
        <div>
            <input type="submit" value="update">
        </div>
    </form>
    <img src="<%= entry.imgUrl %>"/>
</div>
<%include ../partials/footer%>

