<%include ../partials/header%>
<div class="ui raised very padded text container segment">
    <div class="ui container">
        <h1 class="ui header">Registry Items</h1>
        <a class="ui mini button" href="/">home</a>
    </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui container">
    <div class="ui stackable three column grid">
        <% entries.forEach(function(entry) { %>
            <div class="column">
                <% if(entry.claims.length < entry.quantity) { %> 
                    <a href="/registry/<%= entry._id %>/edit">
                        <div class="ui segment">
                            <h3><%= entry.item %></h3>
                            <img class="ui fluid image" src="<%= entry.imgUrl %>"/>
                            <p class="ui button">register for this item</p>
                        </div>
                    </a>   
                <% } else { %>
                    <div class="ui segment">
                        <h3><%= entry.item %></h3>
                        <img class="ui fluid image disabled" 
                            src="<%= entry.imgUrl %>"/>
                        <p>claimed already</p>
                    </div>
                <% } %>
            </div>
        <% }); %>   
    </div>
</div>
<%include ../partials/footer%>
